.header {
  color: white;
  /*background: #1565C0;*/
}

.header a {
  text-decoration: none;
  color: white;
}

#logo-img {
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 10px;
  height: 40px;
  width: 40px;
}
