.roles-container {
	ion-item.selected {
		background-color: var(--ion-color-light);
		--background: var(--ion-color-light);
	}
}

.permissions-container {
	ion-button {
		margin-left: 10px;
	}

	ion-item ion-button {
		margin-left: 0.5rem;
		margin-right: 0;

		font-size: 1rem;
		line-height: 1.6rem;
		--padding-top: 0.75rem;
		--padding-bottom: 0.75rem;
		--padding-start: 2rem;
		--padding-end: 2rem;
	}
}
