<div fxLayout="row" fxLayoutAlign="space-between" style="height: 3em; margin-top: 0.3em;">
  <div fxFlex="1 1 100%">
    <mat-form-field style="width: 100%; padding-bottom: 1em;" color="primary">
      <input matInput [(ngModel)]="search" placeholder="Search issues" />
    </mat-form-field>
  </div>
  <span style="margin-left: -100px; margin-right: 0.3em;margin-top: 0.15em;" matTooltip="Create new issue" matTooltipPosition="above">
    <button mat-mini-fab (click)="create()" color="accent">
      <mat-icon>add</mat-icon>
    </button>
  </span>
</div>
<div *ngFor="let issue of issues.slice(this.currentPage * 10, (this.currentPage + 1) * 10) | FilterPipe: search">
  <mat-card style="margin-top: 0.5em; margin-bottom: 0.5em;">
    <mat-card-title>
      <div>
        <a style="color: #2196F3;" routerLink="/{{project.Author}}/{{project.Name}}/issue/{{issue.Id}}">
          <font size="5">{{issue.Title}}</font>
        </a>
      </div>
    </mat-card-title>
    <font>{{issue.CreatedAt | amTimeAgo}} by {{issue.User.Nick}}
      <br> {{issue.CommentCount?.length}}
    </font>
  </mat-card>
</div>
<mat-card style="margin-top: 0.5em" *ngIf="loaded && issues.length < 1">
  No issues yet.
</mat-card>
<mat-paginator *ngIf="issues.length > 10" style="margin-top: 1em;" [length]="issues.length" [pageSize]="10" [pageSizeOptions]="[10]"
  (page)="pageChanged($event)">
</mat-paginator>






<!-- <button  matTooltip="New Issue!" matTooltipPosition="above" mat-mini-fab (click)="create()">
  <mat-icon>add</mat-icon>
</button> -->

<!--
<textarea style="font-family:Times New Roman; color:#040505 ; font-size: 20px;" fxLayout="row wrap" fxLayoutAlign="space-between" fxFlex="1 1 100%" rows="25" cols="300px">

</textarea> -->
