<div style="margin-top: 2em;">
  <mat-card>
    <!-- <mat-tab-group>
      <mat-tab label="Schema">

        <ace-editor class="editor" text="CREATE TABLE" [mode]="'sql'" style="min-height: 200px; width:100%;
                              overflow: auto;" #editor></ace-editor>
         <button (click)="save()" mat-raised-button style="margin-top: 1em;color: #EEEEEE;" color="primary">Save</button>
      </mat-tab>
      <mat-tab label="Console"> -->
    <codemirror class="editor sqlconsole" [config]="{'mode': 'sql'}" [(ngModel)]="sqlConsole" style="min-height: 200px; width:100%;
overflow: auto;" #editor></codemirror>
    <div class="wrapper">
      <button (click)="runSql()" mat-raised-button style="margin-top: 1em; margin-bottom: 1em; color: #EEEEEE;" color="primary">Run</button>
    </div>
    <codemirror class="editor sqlrunning" [config]="{'mode': 'sql'}" [(ngModel)]="sqlAnswer" style="min-height: 572px; width:100%;
overflow: auto;" #editor></codemirror>
    <!-- </mat-tab>
    </mat-tab-group> -->
  </mat-card>
</div>