<div style="margin-top: 2em;">
  <mat-card>
    <ace-editor class="editor sqlconsole" [mode]="'sql'" [(text)]="sqlConsole" style="min-height: 200px; width:100%;
overflow: auto;" #editor></ace-editor>
    <div class="wrapper">
      <button (click)="runSql()" mat-raised-button style="margin-top: 1em; margin-bottom: 1em; color: #EEEEEE;" color="primary">Run</button>
    </div>
    <ace-editor class="editor sqlrunning" [mode]="'sql'" [(text)]="sqlAnswer" style="min-height: 572px; width:100%;
overflow: auto;" #editor></ace-editor>
  </mat-card>
</div>