.editor {
  font-size: 16px;
}

.example-container {
  display: flex;
  flex-direction: column;
}

.example-full-width {
  width: 100%;
}

.example-container > * {
  width: 100%;
}

[hidden] {
  display: none;
}

.method {
  display: inline-block;
  width: 75px;
  color: #999;
}

mat-card {
  margin-bottom: 1em;
}

.save-button {
  background: #388e3c;
}

.endpoint-title {
  font-size: 1.2em;
}

.endpoint-description {
  color: #666;
  padding-left: 75px;
  padding-bottom: 1em;
}

.shell-editor /deep/ .CodeMirror {
  height: auto;
}
