.success {
  color: green;
}
.failed {
  color: red;
}
.icons {
  margin-right: 0.2em;
}

.Label--outline {
  font-size: 14px;
  margin-top: -1px;
  margin-bottom: -1px;
  font-weight: 400;
  color: #586069;
  background-color: transparent;
  border: 1px solid rgba(27,31,35,0.15);
  box-shadow: none;
  border-radius: 3px;
}

mat-raised-button {
  padding-left: -2em !important;
}

.mat-tab-body-wrapper {
  color: white;
  background-color: red;
}
.mat-tab-label.mat-tab-label-active {
  background-color: #3f51b5;
}
.stars {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  margin-bottom: 2em;
}