<div fxFlexLayout="row" fxLayoutAlign="center" class="white" stlye="padding-left: 0; padding-right:0;">
  <div fxFlex="1 1 25%">
    <ul class="pricing p-blue">
      <li style="background: #42A5F5;font-size: 32px;padding: 5px;font-family: 'Roboto Light';font-weight: 200;color: white;">
        <img src="http://bread.pp.ua/n/settings_g.svg" alt=""> Free
      </li>
      <li>Public projects</li>
      <li>Up to 5 projects</li>
      <li>No immediate support</li>
      <li>
        <h3>Free</h3>
        <span>until 10k requests</span>
      </li>
      <li>
        <button>Join Now</button>
      </li>
    </ul>
  </div>
  <div fxFlex="1 1 5%"></div>
  <div fxFlex="1 1 25%">
    <ul class="pricing p-green">
      <li style="background: #66BB6A;font-size: 32px;padding: 5px;font-family: 'Roboto Light';font-weight: 200;color: white;">
        <img src="http://bread.pp.ua/n/settings_b.svg" alt=""> Starter
      </li>
      <li>Private projects</li>
      <li>Unlimited projects</li>
      <li>24/7 on-call support</li>
      <li>
        <h3>$19</h3>
        <span>per 10k requests</span>
      </li>
      <li>
        <button (click)="openCheckout(1900)">Join Now</button>
      </li>
    </ul>
  </div>
  <!--<div fxFlex="1 1 5%"></div>
  <div fxFlex="1 1 25%"></div>-->
</div>
