<div>
  <mat-form-field class="example-full-width" style="width: 100%">
    <input [(ngModel)]="issueTitle" matInput placeholder="Title" />
    <mat-error *ngIf="issueTitle.length < 2">
      Title is empty
    </mat-error>
  </mat-form-field>
</div>
<div>
  <mat-input-container>
    <textarea [(ngModel)]="commentContent" matInput matTextareaAutosize style="font-family:Times New Roman; color:#040505 ; font-size: 20px; width: 100%;"
      matInput placeholder="Please provide description to your issue" minrows="90">
</textarea>
  </mat-input-container>
</div>
<span *ngIf="errorString">
  <font color="red">
    {{errorString}}
  </font>
</span>
<div style="padding-top: 1em;" align="center">
  <button mat-button style="background-color: rgb(0,192,66);" (click)="addIssue()">
    <font color="white">
      <b>Submit new issue</b>
    </font>
  </button>
</div>
