<mat-card>
  <mat-card-title>
    <h2 align="center">Configuration</h2>
  </mat-card-title>
  <div flexLayout="column" style="padding-bottom: 2em;">
    <div class="form-group" style="padding-bottom: 0.5em">
      <h2>Site settings</h2>
      <mat-form-field class="example-full-width" style="width: 100%">
        <input matInput name="siteUrl" [(ngModel)]="config.SiteUrl" placeholder="Site URL" />
        <mat-hint align="start">e.g https://1backend.com</mat-hint>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="example-full-width" style="width: 100%">
        <input matInput name="stripeKey" [(ngModel)]="config.StripeKey" placeholder="Stripe key" />
        <mat-hint align="start">Stripe API key</mat-hint>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="example-full-width" style="width: 100%">
        <input name="path" matInput [(ngModel)]="config.Path" placeholder="Path" />
        <mat-hint align="start">Path</mat-hint>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="example-full-width" style="width: 100%">
        <input matInput name="sendGrid" [(ngModel)]="config.SendGridKey" placeholder="Send Grid key" />
        <mat-hint align="start">Valami</mat-hint>
      </mat-form-field>
    </div>
    <div>
      <div class="form-group">
        <h2 style="padding-bottom: 1em">API generation</h2>
      </div>
      <div>
        <div style="padding-bottom: 1em;">
          <mat-radio-group [(ngModel)]="config.Api.ApiEnabled">
            <mat-radio-button color="primary" value="true" style="padding-right: 1em;">Enable</mat-radio-button>
            <mat-radio-button color="primary" value="false">Disable</mat-radio-button>
          </mat-radio-group>
        </div>
        <div style="padding-bottom: 1em;">
          <mat-hint align="start">Enable or disable API genaration</mat-hint>
        </div>
      </div>
      <mat-form-field class="example-full-width" style="width: 100%">
        <input matInput name="gitOrg" [(ngModel)]="config.Api.GitOrg" placeholder="Git organization" />
        <mat-hint align="start">GitHub organization</mat-hint>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="example-full-width" style="width: 100%">
        <input matInput name="gitUser" [(ngModel)]="config.Api.GitUser" placeholder="Git user" />
        <mat-hint align="start">GitHub user</mat-hint>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="example-full-width" style="width: 100%">
        <input matInput name="gitToken" [(ngModel)]="config.Api.GitToken" placeholder="Git token" />
        <mat-hint align="start">GitHub token</mat-hint>
      </mat-form-field>
    </div>
    <div class="form-group">
      <h2 style="padding-bottom: 1em">Npm publication</h2>
      <div style="padding-bottom: 1em;">
        <mat-radio-group [(ngModel)]="config.Npm.NpmEnabled">
          <mat-radio-button color="primary" value="true" style="padding-right: 1em;">Enable</mat-radio-button>
          <mat-radio-button color="primary" value="false">Disable</mat-radio-button>
        </mat-radio-group>
      </div>
      <div style="padding-bottom: 1em;">
        <mat-hint align="start">Enable or disable Npm publication</mat-hint>
      </div>
      <mat-form-field class="example-full-width" style="width: 100%">
        <input matInput name="npmOrg" [(ngModel)]="config.Npm.NpmOrg" placeholder="Npm organization" />
        <mat-hint align="start">GitHub organization</mat-hint>
      </mat-form-field>
    </div>
    <div class="form-group">
      <mat-form-field class="example-full-width" style="width: 100%">
        <input matInput name="npmToken" [(ngModel)]="config.Npm.NpmToken" placeholder="Npm token" />
        <mat-hint align="start">Npm token</mat-hint>
      </mat-form-field>
    </div>
    <div class="form-group">
      <h2 style="padding-bottom: 1em">Sitemap</h2>
      <div style="padding-bottom: 1em;">
        <mat-radio-group [(ngModel)]="config.Site.SiteMapEnabled">
          <mat-radio-button color="primary" value="true" style="padding-right: 1em;">Enable</mat-radio-button>
          <mat-radio-button color="primary" value="false">Disable</mat-radio-button>
        </mat-radio-group>
      </div>
      <div style="padding-bottom: 1em;">
        <mat-hint align="start">Enable or disable Sitemap generation</mat-hint>
      </div>
    </div>
    <div class="form-group">
      <mat-form-field class="example-full-width" style="width: 100%">
        <input matInput name="sitePath" [(ngModel)]="config.Site.SiteMapPath" placeholder="Path" />
        <mat-hint align="start">Path</mat-hint>
      </mat-form-field>
    </div>
    <mat-card-actions>
      <div align="center" style="padding-bottom: 1em;">
        <button mat-raised-button (click)="saveConfig()" color="accent">Save</button>
      </div>
    </mat-card-actions>
  </div>
</mat-card>