/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/theming';
@include mat-core();

$my-app-primary: mat-palette($mat-blue, 800, 200, 500);
$my-app-accent:  mat-palette($mat-amber, A200);
$my-app-warn:    mat-palette($mat-red, A400);

$my-app-theme: mat-light-theme($my-app-primary, $my-app-accent, $my-app-warn);

@include angular-material-theme($my-app-theme);

@import url(https://fonts.googleapis.com/css?family=Roboto);

@font-face {
  font-family: 'Roboto Light';
  src: url('/assets/Roboto-Light.ttf') format('truetype');
}

html, body {
  background: #F5F5F5;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-family: 'Roboto Light', sans-serif;
}

.mat-tab-label-active {
  color: #616161 !important;
} 