h3 {
  color: #444;
  font-weight: 200;
  text-align: center;
  font-size: 28px;
  font-family: Roboto Light;
}

.cbp-ig-icon {
  padding: 0;
  display: block;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -moz-transform 0.2s;
  transition: transform 0.2s;
}

.cbp-ig-icon:before {
  font-family: 'devicon';
  font-size: 2em;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

i {
  color: #2979ff;
}

.new-project > .separated {
  padding: 1em;
}

mat-card {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  margin-bottom: 2em;
}

mat-card.selectable:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  background: #eee;
  cursor: pointer;
}

.separator {
  background: #c5c5c5;
  width: 1px;
}

.selected {
  background: #e3f2fd;
}

.example-container > * {
  width: 100%;
}

/* Code */

.editor {
  font-size: 16px;
}

.example-container {
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}

[hidden] {
  display: none;
}

.method {
  display: inline-block;
  width: 100px;
  color: #999;
}

mat-card {
  margin-bottom: 1em;
}

.show {
  opacity: 1 !important;
}
.step {
  opacity: 0;
  transition: 1s ease-in-out all;
}

CodeMirror {
  height: 10em;
}
