.editor {
    font-size: 16px;
}

.success {
  display: inline-block;
  vertical-align: middle;
  color: green;
}
.failed {
  display: inline-block;
  vertical-align: middle;
  color: red;
}

[hidden] {
  display: none;
}
.spinner {
  display: inline;
  vertical-align: middle;
  padding-left: 1em;
  margin-right: 0.5em;
}

.build-title {
  font-size: 1.2em;
}
