.vertically-centered-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	max-width: 100vw;
	padding: 0 0px;
}

.vertically-centered-container > div {
	width: 100%;
	align-items: stretch;
	justify-content: flex-start;
	display: block;
}

@media (min-width: 1079px) {
	.horizontally-centered-content {
		margin: 0 auto;
		max-width: 1079px;
		box-sizing: border-box;
	}
}

@media (max-width: 1079px) {
	.horizontally-centered-content {
		margin: 0;
		width: 100%;
	}
}
